.gitignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
esel_katja/
mvos_models/
tutorial-files/
prose_statistics.Rmd
psych-lmer.RData
psych-lmer.Rmd
ginv2.R
2022-02-03_glmm_effect-size_power_cache/
2022-02-03_glmm_effect-size_power.nb.html
2022-02-03_glmm_effect-size_power.Rmd
power-curve.jpeg
power.RData